body{
	padding-top: 50px;
    padding-bottom: 20px;
    background-color: #0099CC;
}

table{
	text-align: left;
}

th {
	font: bold 20px arial;
	color: blue;
}
		
td {
	font: bold 20px arial;
	color: black;
}

h3{
	color: black;
}

h4{
	text-align: center;
	color: red;
}

label {
	color: black;
}

img{
	margin-bottom: 10px;
	width: 32px;
	height: 32px;
}
		
.panel {
	margin-top: 20px;
    margin-left:50px;
    margin-right: 50px;
    text-align: center;
    background-color: #C0C0C0;
    color: black;
}

.jumbotron{
	margin-top: 20px;
	text-align: center;
	background-color: #0099CC;
	width: 400px;
	height: 400px;
}

.navbar{
	background-color: #606060;
}

.navbar-right{
	position:fixed; 
	top: 0;
	right:2%;
}