body{
	padding-top: 50px;
    padding-bottom: 20px;
    background-color: #0099CC;
}

th {
	font: bold 20px arial;
	color: blue;
}
		
td {
	font: bold 20px arial;
	color: black;
}

h3{
	color: black;
}

h4{
	text-align: center;
	color: lime;
}

label {
	color: black;
}
		
.panel {
	margin-top: 20px;
    margin-left:50px;
    margin-right: 50px;
    text-align: center;
    background-color: #888;
    color: black;
}

.jumbotron{
	margin-top: 20px;
	text-align: center;
	background-color: #0099CC;
	width: 400px;
	height: 400px;
}