<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	  xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" 
	  layout:decorator="layout">
<head>
	<meta charset="utf-8"/>
	<title>Index</title>
	<link rel="stylesheet" href="../static/css/home.css" th:href="${'/css/home.css'}" />
</head>
<body>
	<section layout:fragment="content">
	<div style="text-align: center;">
		<h1>PréTCCrescer Lavanderia's</h1>
		<h3>
			Lorem ipsum dolor sit amet, consectetur adipiscing elit. Duis bibendum eros nisi, vel finibus orci consequat vitae. Suspendisse feugiat sed ipsum quis pretium. Aenean posuere turpis vitae enim vehicula sagittis. Vestibulum nisi nulla, venenatis sed lacus sit amet, malesuada cursus leo. Aenean ac consequat quam. Vestibulum ante ipsum primis in faucibus orci luctus et ultrices posuere cubilia Curae; Vivamus eros est, auctor scelerisque eros nec, bibendum lacinia elit. Fusce et auctor ligula. Mauris consectetur tincidunt enim et tincidunt. Praesent placerat leo et egestas porta. Ut eu mattis tortor. Quisque viverra magna nec massa semper ultrices.

			Donec facilisis ut ante et auctor. Nullam rutrum pulvinar erat, eget convallis lectus tempor et. Sed mattis ac sem vitae maximus. Nunc a posuere justo, at blandit risus. Aliquam erat volutpat. Pellentesque at tortor sit amet enim venenatis vehicula dictum eget nibh. Nulla id nisi nec ipsum euismod imperdiet ut id mi. Morbi fermentum fringilla lectus sed pretium.
		</h3>
	</div>
	</section>
</body>
</html>