<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
	<meta charset="utf-8"/>
	<title>Index</title>
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css"/>
	<style>
		body{
			background-color: #444;
		}
				
		h3{
			text-align: center;
			color: lime;
		}
				
		.jumbotron{
			text-align: center;
			background-color: #444;
			margin-top: 20px;
			width: 400px;
			heigth: 400px;
		}
	</style>
</head>
<body>
	<nav class="navbar navbar-inverse">
	  <div class="container-fluid">
	    <div class="navbar-header">
	      <a class="navbar-brand" href="#">
	        <img th:src="@{/img/iconLg.png}"/>
	      </a>
	      <a class="navbar-text" href="/clientes">
	      	Clientes
	      </a>
	    </div>
	  </div>
    </nav>
    
	<div class="jumbotron">
		<h3 th:text="${mensagem}"></h3>
	</div>
</body>
</html>