<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" 
	  xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" 
	  layout:decorator="layout">
<head>
	<title>Index</title>
	<style>
		body{
			background-color: #444;
		}
				
		h3{
			text-align: center;
			color: lime;
		}
				
		.jumbotron{
			text-align: center;
			background-color: #444;
			margin-top: 20px;
			width: 400px;
			heigth: 400px;
		}
	</style>
</head>
<body>
	<section layout:fragment="content">
		<div class="jumbotron">
			<h3 th:text="${mensagem}"></h3>
		</div>
	</section>
</body>
</html>