@model string
@{
    ViewBag.Title = "World Games";
}

<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <title></title>
    <link href="~/Content/Index.css" rel="stylesheet" />
    <link href="~/Content/StyleSheet.css" rel="stylesheet" />
</head>
<body>
    <div class="panel panel-default">
        <div class="panel-heading">
            <h3 class="panel-title">Locadora World Games</h3>
        </div>
        <div class="panel-body">
            <img src="~/Content/banner.jpg" />
        </div>
    </div>

    <div class="jumbotron">
        @using (Html.BeginForm("JogosDisponiveis", "RelatorioJogo", new { @class = "form-control" }))
        {
            string nome = null;
            @Html.TextBoxFor(m => nome, new { @type = "text", @class = "form-control", @placeholder = "Nome" })
            <button class="btn btn-default btn-lg" type="submit">Buscar por nome</button>
            @Html.ActionLink("Mostrar Todos", "JogosDisponiveis", "RelatorioJogo", new { area = "" }, new { @class = "btn btn-default btn-lg" })
        }
    </div>
</body>
</html>
