@model String
@{
    ViewBag.Title = "World Games";
}

<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <title></title>
    @Styles.Render("~/bundles/index")
    @Scripts.Render("~/bundles/modernizr")
</head>
<body>
    <div class="panel panel-default">
        <div class="panel-heading">
            <h3 class="panel-title">Locadora World Games</h3>
        </div>
        <div class="panel-body">
            <img src="~/Content/banner.jpg" />
        </div>
    </div>

    <div class="jumbotron">
        <form action="~/Relatorio/JogosDisponiveis">
            <input class="from-control" type="text" name="busca" placeholder="Nome">
            <input class="btn btn-default btn-lg" type="submit" value="Pesquisar">
        </form>

        @Html.ActionLink("Mostrar Disponiveis", "JogosDisponiveis", "RelatorioJogo", new { area = "" }, new { @class = "btn btn-default btn-lg" })
        @Html.ActionLink("Mostrar Todos", "Jogos", "RelatorioJogo", new { area = "" }, new { @class = "btn btn-default btn-lg" })
    </div>
</body>
</html>


