<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" 
	  xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" 
	  layout:decorator="layout">
<head>
	<title>Detalhes</title>
</head>
<body>
	<section layout:fragment="content">
		<div class="panel panel-default">
	        <div class="panel-heading">
	            <h3 class="panel-title">
		            <button type="button" class="btn btn-primary btn-lg" data-toggle="modal" data-target="#myModal">
					  Remover
					</button>
			    </h3>
	        </div>
	        <div class="panel-body">
	            <h3 th:text="|Nome: ${cliente.name}|"></h3>
	            <h3 th:text="|CPF: ${cliente.cpf}|"> </h3>
	            <h3 th:text="|E-mail: ${cliente.email}|"> </h3>
	            <h3 th:text="|Endereço: ${cliente.endereco}|"> </h3>
	            <h3 th:text="|Bairro: ${cliente.bairro}|"> </h3>
	            <h3 th:text="|CEP: ${cliente.cep}|"></h3>
	            <h3 th:text="|Cidade: ${cliente.cidade}|"></h3>
	            <h3 th:text="|UF: ${cliente.uf}|"></h3>
	            <h3 th:text="|Situação: ${cliente.situacao}|"></h3>
	        </div>
	    </div>
	   	
		<div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
		  <div class="modal-dialog" role="document">
		    <div class="modal-content">
		      <div class="modal-header">
		        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
		        <h4 class="modal-title" id="myModalLabel">Deseja remover?</h4>
		      </div>
		      <div class="modal-body">
		        ...
		      </div>
		      <div class="modal-footer">
		        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
		        <a class="btn btn-primary" th:href="@{|/clientes/remover/${cliente.id}|}">Sim</a>
		      </div>
		    </div>
		  </div>
		</div>
		<script src="http://code.jquery.com/jquery-2.1.4.min.js"></script>
    	<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js"></script>
	</section>
</body>
</html>