/* ==========================================
    Footer
===========================================*/

.footer{
  padding: 10px 15px 15px;
  color: #444;
  text-shadow: -1px -1px 0 #000;
  background: #222;
}

.footer nav{
  margin-bottom: 30px;
}

.footer-text{
  text-align: center;
  color: #fff;
  margin: 0;
  font-family: Georgia, "Times New Roman", Times;
  font-size: 20px;
  line-height: 24px;
}
